* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}
#container {
  margin-top: 10px;
}
.folder-content {
  display: none;
  margin-left: 15px;
  width: 150px;
}

.folder {
  color: black;

  user-select: none;
}
.folder-header {
  padding: 0 7px;
  height: 20px;
  background-color: whitesmoke;
  cursor: pointer;
  font-weight: 500;
  width: 250px;
}
.folder.open > .folder-header {
  background-color: #3297fd;
  color: white;
}
.folder.open > .folder-header .folder-icon svg {
  transform: rotate(90deg);
  transition: transform 200ms;
}
.folder.open > .folder-content {
  display: block;
}
.folder-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}
.folder-header i {
  display: inline-block;
  height: 15px;
  width: 15px;
}
.folder-name-container {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}
.folder-name {
  height: 100%;
}
.folder-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.delete-btn,
.add-file-btn,
.add-folder-btn {
  padding: 0;
  border: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  cursor: pointer;
}
svg {
  width: 15px;
  height: 15px;
}

.folder-icon {
  display: flex !important;
  align-items: center;
}
.folder-icon svg {
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  stroke-width: 30px;
  stroke: black;
  transform: rotate(0);
  transition: transform 200ms;
}
.input {
  width: 250px;
}

.save-btn {
  width: 50px;
}
